<div id="todoapp"></div>
<link rel="stylesheet" type="text/css" href="base.css"/>
<script src="../node_modules/steal/steal.js" main="@empty"></script>
<script type='text/mustache' id='app-template'>
<todo-app>
	<header id="header">
		<todo-create></todo-create>
	</header>
	<section id="main" class="{{^todos}}hidden{{/todos}}">
		<input id="toggle-all" type="checkbox" {{#todos.allComplete}}checked="checked"{{/todos.allComplete}}>
		<label for="toggle-all">Mark all as complete</label>
		<todo-list></todo-list>
	</section>
	
	<footer id="footer" class="{{^todos}}hidden{{/todos}}">
		<span id="todo-count">
			<strong>{{todos.remaining}}</strong> {{plural "item" todos.remaining}} left
		</span>
		<ul id="filters">
			<li>{{{link "All" undefined}}}</li>
			<li>{{{link "Active" "active"}}}</li>
			{{#todos.completed}}
			<li>{{{link "Completed" "completed"}}}</li>
			{{/todos.completed}}
		</ul>
		<button id="clear-completed" class="{{^todos.completed}}hidden{{/todos.completed}}">
			Clear completed ({{todos.completed}})
		</button>
	</footer>
</todo-app>
</script>
<script type='text/mustache' id='todo-create-template'>
<h1>todos</h1>
<input id="new-todo" placeholder="What needs to be done?" autofocus="">
</script>
<script type='text/mustache' id='todo-list-template'>
<ul id="todo-list">
	{{#each todos}}
		<li class="todo {{^matches}}hidden{{/matches}} {{#complete}}completed{{/complete}} {{#editing}}editing{{/editing}}" 
			can-dblclick="edit">
			<div class="view">
				<input class="toggle" type="checkbox" can-value="complete"/>
				<label>{{text}}</label>
				<button class="destroy" can-click="destroy"></button>
			</div>
			<input class="edit" 
			       type="text" 
			       value="{{text}}" 
			       can-blur="updateTodo"
			       can-enter="updateTodo"/>
		</li>
	{{/todos}}
</ul>
	
</script>
<script>
steal("can",function(){
	
	
	var LocalStorage = can.Model.extend({
		// Implement local storage handling
		localStore: function (cb) {
			var name = this.name,
				data = JSON.parse(window.localStorage[name] || (window.localStorage[name] = '[]')),
				res = cb.call(this, data);
			if (res !== false) {
				can.each(data, function (todo) {
					delete todo.editing;
				});
				window.localStorage[name] = JSON.stringify(data);
			}
		},
	
		findAll: function (params) {
			var def = new can.Deferred();
			this.localStore(function (todos) {
				var instances = [],
					self = this;
				can.each(todos, function (todo) {
					instances.push(new self(todo));
				});
				def.resolve({data : instances});
			});
			return def;
		},
	
		destroy: function (id) {
			var def = new can.Deferred();
			this.localStore(function (todos) {
				for (var i = 0; i < todos.length; i++) {
					if (todos[i].id === id) {
						todos.splice(i, 1);
						break;
					}
				}
				def.resolve({});
			});
			return def;
		},
	
		create: function (attrs) {
			var def = new can.Deferred();
			this.localStore(function (todos) {
				attrs.id = attrs.id || parseInt(100000 * Math.random(), 10);
				todos.push(attrs);
			});
			def.resolve({id : attrs.id});
			return def;
		},
	
		update: function (id, attrs) {
			var def = new can.Deferred(), todo;
			this.localStore(function (todos) {
				for (var i = 0; i < todos.length; i++) {
					if (todos[i].id === id) {
						todo = todos[i];
						break;
					}
				}
				can.extend(todo, attrs);
			});
			def.resolve({});
			return def;
		}
	}, {});
	
	// Basic Todo entry model
	// { text: 'todo', complete: false }
	var Todo = LocalStorage.extend({
		storageName: 'todos-canjs'
	}, {
		// Returns if this instance matches a given filter
		// (currently `active` and `complete`)
		matches : function () {
			var filter = can.route.attr('filter');
			return !filter || (filter === 'active' && !this.attr('complete')) ||
				(filter === 'completed' && this.attr('complete'));
		}
	});

	// List for Todos
	Todo.List = can.Model.List({
		Map: Todo
	},{
		completed: function () {
			var completed = 0;

			this.each(function (todo) {
				completed += todo.attr('complete') ? 1 : 0;
			});

			return completed;
		},

		remaining: function () {
			return this.attr('length') - this.completed();
		},

		allComplete: function () {
			return this.attr('length') === this.completed();
		}
	});
	
	
	// The highest level component sets up the
	// shared state for all sub components.
	// In this case, it's the list of todos.
	can.Component.extend({
		// Create this component on a tag  like `<todo-app>`.
		tag: "todo-app",
		// Add a todos property to the scope that is a
		// list of all todos retrieved from the model.
		scope: {
			todos: new Todo.List({}),
			Todo: Todo
		},
		events: {
			// Listen to when a Todo is created
			// and add it to the list.
			'{Todo} created': function (list, e, item) {
				this.scope.attr('todos').push(item);
				can.route.removeAttr('filter');
			},
			// Automatically save todos when editing or complete happens
			'{todos} change': function(todos, ev, attr){
				var match = attr.match( /(\d+)\.(editing|complete|text)/  )
				if( match ) {
					todos.attr(match[1]).save()
				}
			},
			'#toggle-all click': function (el) {
				var toggle = el.prop('checked');
				this.scope.attr('todos').each(function (todo) {
					todo.attr('complete', toggle);
				});
			},
	
			// Listen for removing all completed Todos
			'#clear-completed click': function () {
				
				for (var i = this.scope.todos.length - 1, todo; i > -1 && (todo = this.scope.todos[i]); i--) {
					if (todo.attr('complete')) {
						todo.destroy();
					}
				}
			}
		},
		helpers: {
			link: function(name, filter){
				var data = {};
				if(filter){
					data.filter = filter
				}
				return can.route.link(name,data, {
					className: can.route.attr("filter") == filter ? "selected" : ""
				});
			},
			plural : function(singular, num){
				return num() == 1 ? singular : singular + "s";
			}
		}
	})
	
	can.Component.extend({
		tag: "todo-create",
		template: can.view('todo-create-template'),
		events: {
			'#new-todo keyup': function (el, e) {
				var value = can.trim(el.val());
				if (e.keyCode === 13 && value !== '') {
					new Todo({
						text : value,
						complete : false
					}).save();
					el.val('');
				}
			},
			"inserted": function(){
				$("#new-todo").focus()
			}
		}
	});
	
	can.Component.extend({
		tag: "todo-list",
		template: can.view("todo-list-template"),
		scope: {
			edit: function(todo, el){
				todo.attr('editing', true);
				el.children('.edit').focus();
			},
			updateTodo: function (todo, el) {
				var value = can.trim(el.val());
	
				if (value === '') {
					todo.destroy();
				} else {
					todo.attr({
						editing : false,
						text : value
					});
				}
			}
		}
	})

	
	$("#todoapp").html( can.view("app-template", {}) );
	can.route.ready()
})
</script>