<!DOCTYPE html>
<html lang="en">
<head>
	<title>can.view.mustache demo</title>
</head>
<body>
	
<script id="template" type="text/mustache">
	<p  {{placeholder compute}}>If Statements {{#name}} <strong>hi!</strong> {{/name}}</p>
</script>

<div id="demo"></div>
<button id="button">Click to change</button>

<script type='text/javascript' src='../../lib/steal/steal.js'></script>
<script type='text/javascript'>
	steal(function() {
		steal.config({
			root: '../../'
		});
	}).then('can/view/mustache', 'can/observe', function() {
		
		var compute = can.compute("holler")

		var teacher = new can.Observe({
			name: "<strong>Mrs Peters</strong>",
			book: "Harry Potter",
			movie: false,
			compute: compute
		});

		var template = can.view("#template", teacher);
		can.$('#demo').append(template);

		can.$('#button').click(function(){
			teacher.attr('name', 'Mr Scott')
			teacher.attr('book', '<strong>Eat, Pray, Love</strong>')
		});
		
	});
</script>
</body>
</html>