<div class="template">
{{#items}}
	<div class="loop">
		{{#item.attr('children')}}
			<div class="node">
				{{>'//can/view/ejs/recursive.ejs', {items:item.attr('children')}}}
			</div>
		{{/item.attr('children')}}
		{{^item.attr('children')}}
			<div class="leaf">L</div>
		{{/item.attr('children')}}
	</div>
<%}) %>
</div>
