[submodule "util/docco/docco"]
	path = util/docco/docco
	url = https://github.com/jupiterjs/docco.git
[submodule "view/mustache/spec"]
	path = view/mustache/spec
	url = https://github.com/mustache/spec.git
