.tmp*
dist/
core.mjs
core.min.mjs
ecosystem.mjs
ecosystem.min.mjs
everything.min.mjs
everything.mjs
*.swp
*.orig
util/can.*.js
*node_modules*
npm-debug.log
doc/
*.DS_Store
.idea
.vscode/*
test/pluginified/latest.js
docco
test/builders/steal-tools/dist/
test/builders/steal-tools/bundle/dist/
test/builders/browserify/out.js
test/builders/webpack/bundle.js
_backup/
/index.html
package-lock.json
dev-bundle.js
