.tmp*
/dist
*.swp
*.orig
util/can.*.js
*node_modules*
standalone*
docs*
*.DS_Store
.idea
bower_components/
test/pluginified/latest.js
docco
test/builders/steal-tools/dist/
test/builders/steal-tools/bundle/dist/
