sudo: false
language: node_js
before_install:
- ./firefox-allow-popups.sh
- "export DISPLAY=:99.0"
- "sh -e /etc/init.d/xvfb start"
- if [ "$TRAVIS_BRANCH" != "master" ] || [ "$TRAVIS_PULL_REQUEST" != false ]; then SAUCE_ACCESS_KEY=$SAUCE_ACCESS_KEY_NOT_MASTER SAUCE_USERNAME=$SAUCE_USERNAME_NOT_MASTER; fi
- echo "Sauce Labs username is $SAUCE_USERNAME"
- |
    if ! git diff --name-only $TRAVIS_COMMIT_RANGE | grep -qvE '(\.md$)|(^docs)|(^demos)/'
    then
      echo "Only docs were updated, skipping tests."
      exit
    fi
- "echo 'This is running'"
after_install:
- "echo 'Install has finished'"
matrix:
  include:
    - node_js: 6
      env: TEST_SUITE=sauce-labs
      addons:
        sauce_connect: true
        hosts: canjs.test
    - node_js: 6
      env: TEST_SUITE=development
      addons:
        firefox: latest
    - node_js: 6
      env: TEST_SUITE=production
      addons:
        firefox: latest
    - node_js: 6
      env: TEST_SUITE=builders
      addons:
        firefox: latest
    - node_js: 6
      env: TEST_SUITE=global-build
      addons:
        firefox: latest
script:
  - "npm run test-$TEST_SUITE"
before_script:
  - npm run http-server &
  - sleep 2
