<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
            "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
	<head>
		<title>Grid / Encapsulate Demo</title>
        <style type='text/css'>
            body {font-family: verdana}
            
        </style>
	</head>
	<body>
<div id="demo-instructions">
<h1>Model Encapsulate Demo</h1>
<p>This demonstrates how encapsulating Ajax functionality in
	models makes your code more reusable.  The same grid 
	widget uses two different models.
</p>
</div>
<div id="demo-html">
<h2>Recipe Grid</h2>
<div id='recipes'></div>
<h2>Work Item Grid</h2>
<div id='workItems'></div>
</div>
<script type="text/javascript" src="../../node_modules/steal/steal.js" main="@empty"></script>
<script type='text/ejs' id='listView'>
	<table cellspacing='0px'>
	<thead>
	<tr>
	    <% for(var attr in model.attributes){%>
	        <% if(attr == 'id') continue;%>
	        <th><%= attr %> </th>    
	    <%}%>
	    <th>Options</th>
	</tr>
	</thead>
	<tbody>
		<% items.each(function(item){ %>
			<tr class="item" <%= (el) -> el.data("item",item) %>>
				<%== can.view.render('itemView',{item: item, model : model})%>
			</tr>
		<%}) %>
	    
	</tbody>
</table>
</script>
<script type='text/ejs' id='itemView'>
	<%for(var attribute in model.attributes){%>
	    <%if(attribute == 'id') continue;%>
	    <td class='<%= attribute %>'>
	            <input type="text" value="<%= item.attr(attribute)%>" name="<%= attribute%>"/>
	    </td>
	<%}%>
	<td>
	    <input type='submit' value='Update' class='update'/>
	    <a href='javascript://' class='cancel'>cancel</a>
	</td>
</script>
<script type='text/javascript'>

</script>
<script type='text/javascript' id="demo-source"> 
steal('can/model',
    'can/map/attributes',
    'can/map/elements',
    'can/util/fixture',
    'can/view/ejs',
    'can/control',
    'can/construct/proxy',
    'jquerypp/dom/form_params',
    function(){

// Use fixtures to make 4 recipes
var recipesStore = can.fixture.store(4, function(i, messages){
	return {
		title: "Recipe "+i,
		instructions: "Here are some instructions"
	}
})
// Use fixtures to make 4 work items
var workItemsStore = can.fixture.store(4, function(i, messages){
	return {
		task: "item "+i,
		instructions: "Here are some instructions",
		assignedTo : i%2? "Brian" : "Justin"
	}
})

 
// A grid widget
Grid = can.Control.extend({
	// when added to an element, use the model
	// to find items
	init : function(){
		this.options.model.findAll({},this.proxy('list'))
	},
	// draw the items in this element
	list : function(items){
		this.element.html(can.view("listView", {model : this.options.model, items: items}))
	},
	// on update, get values, and update model instance
	".update click" : function(el){
		// get the tr that has our new model data
		var tr =  el.closest('tr'),
			
			// get the model isntance
			item = tr.data("item");
		
		// make it look like we are updating
		el.val("updating ...").attr("disabled", true)
		
		// update the model instance
		item.attr(tr.formParams()).save(function(){
			el.val("Update").attr("disabled", false)
		});
	},
	// on cancel, use the existing model to redraw html
	".cancel click" : function(el){
		
		var tr =  el.closest('tr')
			item = tr.data("item");
			
		tr.html(can.view('itemView',{model : this.options.model, item: item}))
	}
})

// A Recipe model that implements findAll and update
Recipe = can.Model.extend({
	attributes: {
		title: "String",
		instructions: "String"
	},
	findAll : "/recipes.json",
	update : "/recipes/{id}.json"
},{});

can.fixture("/recipes.json",recipesStore.findAll)
can.fixture("/recipes/{id}.json",recipesStore.update)


// A WorkItem model that implements findAll and update
WorkItem = can.Model.extend({
	attributes: {
		task: "String",
		instructions: "String",
		assignedTo : "String"
	},
	findAll : "/workitems.json",
	update : "/workitems/{id}.json"
},{});

can.fixture("/workitems.json",workItemsStore.findAll)
can.fixture("/workitems/{id}.json",workItemsStore.update)

// Add a grid with recipes
new Grid("#recipes",{model: Recipe});

// Add a grid with workitems
new Grid("#workItems",{model: WorkItem});

});
</script>
	</body>
</html>