<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<script type='text/javascript' src='../../../../steal/steal.js'></script>
<script type='text/javascript'>
steal(
	'can/view/ejs')
.then(
	'can/view/ejs/test/indirect3.ejs',
	'can/view/ejs/test/indirect4.ejs',
	function() {
		var data = {
			name: '1',
			children: [
				{
					name: '2',
					children: [{
						name: '3'
					}, {
						name: '4'
					}]
				},
				{
					name: 'a',
					children: [{
						name: 'b'
					}]
				}
			]
		};
		
		can.view.cache = false; //change this to true to cause the problem
		data.name = 'can.view is not cached';
		$('body').prepend(can.view('indirect3', data));

		can.view.cache = true;
		data.name = 'can.view is cached';
		$('body').append(can.view('indirect3', data));
	}
);
</script>
</body>
</html>