CanJS provides:

<form id="builder" action="http://builder.bitovi.com/donejs">
  <input type="hidden" name="filename" value="can.custom.js" />

  <p>
    <label>
      <input type="checkbox" value="can/construct" name="plugins" checked="checked" />
      <a href="#can_construct">can.Construct</a> - inheritable constructor functions
    </label>

    <label>
      <input type="checkbox" value="can/observe" name="plugins"/>
      <a href="#can_observe">can.Observe</a> - key-value binding
    </label>

    <label>
      <input type="checkbox" value="can/observe" name="plugins"/>
      <a href="#can_model">can.Model</a> - observes connected to a RESTful JSON interface
    </label>

    <label>
      <input type="checkbox" value="can/view" name="plugins"/>
      <a href="#can_view">can.view</a> - template loading, caching, rendering
    </label>

    <label>
      <input type="checkbox" value="can/view/ejs" name="plugins"/>
      <a href="#can_ejs">can.EJS</a> - live binding templates
    </label>

    <label>
      <input type="checkbox" value="can/control" name="plugins" class="can-control-route"/>
      <a href="#can_control">can.Control</a> - declarative event bindings
    </label>

    <label>
      <input type="checkbox" value="can/route" name="plugins" class="can-control-route" checked="checked" />
      <a href="#can_route">can.route</a> - back button and bookmarking support
    </label>
  </p>

  <p>
    It also includes a rich set of supported <a href="#plugins">extensions and plugins</a>: 
  </p>

  <p>
    <label>
      <input type="checkbox" value="can/construct/proxy" name="plugins"/>
      <a href="#plugins-can_construct_proxy">can.Construct.proxy</a> - Proxy construct methods
    </label>

    <label>
      <input type="checkbox" value="can/construct/super" name="plugins"/>
      <a href="#plugins-can_construct_super">can.Construct.super</a> - Call super methods
    </label>

    <label>
      <input type="checkbox" value="can/observe/delegate" name="plugins"/>
      <a href="#plugins-can_observe_delegate">can.Observe.delegate</a> - Listen to Observe attributes
    </label>

    <label>
      <input type="checkbox" value="can/observe/setter" name="plugins"/>
      <a href="#plugins-can_observe_setter">can.Observe.setter</a> - Use setter methods on Observes
    </label>

    <label>
      <input type="checkbox" value="can/observe/attributes" name="plugins"/>
      <a href="#plugins-can_observe_attributes">can.Observe.attributes</a> - Define Observe attributes
    </label>

    <label>
      <input type="checkbox" value="can/observe/validations" name="plugins"/>
      <a href="#plugins-can_observe_validations">can.Observe.validations</a> - Validate attributes
    </label>

    <label>
      <input type="checkbox" value="can/observe/backup" name="plugins"/>
      <a href="#plugins-can_observe_backup">can.Observe.backup</a> - Backup and restore an Observe's state
    </label>

    <label>
      <input type="checkbox" value="can/control/view" name="plugins"/>
      <a href="#plugins-can_control_view">can.Control.view</a> - Render views based on Control name and action
    </label>

    <label>
      <input type="checkbox" value="can/control/plugin" name="plugins"/>
      <a href="#plugins-can_control_plugin">can.Control.plugin</a> - Registers a jQuery plugin function for Controls[1]
    </label>

    <label>
      <input type="checkbox" value="can/view/modifiers" name="plugins"/>
      <a href="#plugins-view_modifiers">View modifiers</a> - Use jQuery modifiers to render views[1]
    </label>
  </p>

  <p id="req_jquery">
    [1] Requires jQuery
  </p>

  <h4>Choose your library</h4>

  <div class="libraries">
    <label>
      <input type="radio" value="jquery" name="lib" checked="checked" />
      <a href="#">jQuery</a>
    </label>

    <label>
      <input type="radio" value="zepto" name="lib"/>
      <a href="#">Zepto</a>
    </label>

    <label>
      <input type="radio" value="dojo" name="lib"/>
      <a href="#">Dojo</a>
    </label>

    <label>
      <input type="radio" value="moo" name="lib"/>
      <a href="#">Mootools</a>
    </label>

    <label>
      <input type="radio" value="yui" name="lib"/>
      <a href="#">YUI</a>
    </label>
  </div>

  <input type="hidden" name="options" value="[{&quot;option&quot;:&quot;skipCallbacks&quot;},{&quot;option&quot;:&quot;onefunc&quot;},{&quot;option&quot;:&quot;namespace&quot;,&quot;value&quot;:&quot;can&quot;},{&quot;option&quot;:&quot;global&quot;,&quot;value&quot;:&quot;can={}&quot;}]" />

  <button class="button disabled primary" disabled="disabled" type="submit">Download</button>
  <p class="loading" style="display: none;"><img src="images/loader.gif" alt="loader" /> Please wait while we generate your download</p>
</form>
