<!doctype html>
<html>
<head>
	<meta http-equiv="x-ua-compatible" content="IE=Edge"/>
	<script type="text/javascript" src="../../../bower_components/modernizr/modernizr.js"></script>
</head>
<body>

	<script>
		if( window.parent.QUnit ) {
			window.isReady = function(vm) {
				window.parent.QUnit.ok( vm, "we got a vm!" );
				removeMyself();
			};
		} else {
			window.isReady = function(vm) {
				console.log(vm.attr());
			};
		}
		window.hasError = window.parent.hasError || function(error) {
			console.log("error in autoload", error)
		};
		window.removeMyself = window.parent.removeMyself;
	</script>
	<script type='text/stache' id='basics' foo='bar' can-autorender>
		<h1>{{message}}</h1>
	</script>
	<script src='../../../node_modules/steal/steal.js' main='@empty'></script>
	<script>
		steal('can/view/autorender',function(ready){
			ready(function() {
				var vm = $("#basics").viewModel();

				isReady(vm);
			}, hasError);
		});
	</script>
</body>
</html>