<!DOCTYPE HTML>
<html>
<head>
	<title><%= configuration.description %> Test Suite</title>
	<link rel="stylesheet" type="text/css" href="../../bower_components/qunit/qunit/qunit.css"/>
    <script type="text/javascript" src="../../lib/html5shiv.js"></script>
</head>
<body>
<h1 id="qunit-header"><%= configuration.description %> Test Suite</h1>

<h2 id="qunit-banner"></h2>

<div id="qunit-testrunner-toolbar"></div>
<h2 id="qunit-userAgent"></h2>
<ol id="qunit-tests"></ol>
<div id="qunit-test-area"></div>
<div id="qunit-fixture"></div>

<script type="text/javascript" src="../../bower_components/requirejs/require.js"></script>
<script type="text/javascript" src="../../bower_components/qunit/qunit/qunit.js"></script>
<script type="text/javascript">
    <%
        var moduleName = function(file) { return file.substring(0, file.lastIndexOf('.')); }
        var configName = configuration.description.split(' ')[0].toLowerCase();
        var config = {
            baseUrl: root,
            paths : {
              can: "dist/amd/can",
              "dojo": "bower_components/dojo"
            },
            map : {
                '*' : {
                    "can/util/library" : "can/util/" + configName
                }
            }
        };
		if(! config.paths[configName] ) {
		  config.paths[configName] = moduleName(configuration.library);
		}
        
    %>

	QUnit.config.autostart = false;
	require.config(<%- JSON.stringify(config) %>);

	require(['can/util/fixture'].concat(<%- JSON.stringify(modules) %>), function() {
		require(["test/pluginified/latest"], function(){
			QUnit.start();
		});
	});
</script>
</body>
</html>