<!DOCTYPE HTML>
<html>
<head>
	<title><%= configuration.description %> Test Suite</title>
	<link rel="stylesheet" type="text/css" href="../../node_modules/qunitjs/qunit/qunit.css"/>
</head>
<body>
<h1 id="qunit-header"><%= configuration.description %> Test Suite</h1>

<h2 id="qunit-banner"></h2>

<div id="qunit-testrunner-toolbar"></div>
<h2 id="qunit-userAgent"></h2>
<ol id="qunit-tests"></ol>
<div id="qunit-test-area"></div>
<div id="qunit-fixture"></div>

<script type="text/javascript" src="../../node_modules/requirejs/require.js"></script>
<script type="text/javascript">
    <%
        var moduleName = function(file) { return file.substring(0, file.lastIndexOf('.')); }
        var configName = configuration.description.split(' ')[0].toLowerCase();
        var config = {
            baseUrl: root,
            paths : {
              can: "dist/amd/can",
              "simple-dom": "node_modules/can-simple-dom/dist/amd/simple-dom",
              "micro-location": "node_modules/micro-location/lib/micro-location",
              "qunit": "node_modules/qunitjs/qunit/qunit"
            }
        };

		if(! config.paths[configName] ) {
		  config.paths[configName] = moduleName(configuration.library);
		}

    %>

	require.config(<%- JSON.stringify(config) %>);

	require(['can/util/fixture'].concat(<%- JSON.stringify(modules) %>), function() {
        require(['qunit'], function(QUnit){
            QUnit.config.autostart = false;
            require(["test/pluginified/latest"], function(){
                if(window.Testee) {
                  window.Testee.init();
                }
    			QUnit.start();
    		});
        });
	});
</script>
</body>
</html>
