<title>CanJS <%= configuration.description %> tests</title>
<script src="../node_modules/steal/steal.js" main="@empty"></script>
<script type="text/javascript">
	if (typeof QUnit === 'undefined') {
		document.write(unescape('%3Clink rel="stylesheet" type="text/css" href="../bower_components/qunit/qunit/qunit.css" /%3E'));
		document.write(unescape('%3Cscript type="text/javascript" src="../bower_components/qunit/qunit/qunit.js" %3E%3C/script%3E'));
	}
</script>
<script type="text/javascript">
	QUnit.config.autostart = false;

	System['import']("package.json!npm").then(function(){
		var config = window.CONFIGURATION = <%- JSON.stringify(configuration.steal) %>;
		steal.config(config);
	}).then(function(){
		steal("<%- tests.join('", "') %>", function() {
			can.dev.logLevel = 3;
		});
	});
</script>
<div id="qunit-fixture"></div>
