<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
            "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
	<head>
		<title>Model Validations Demo</title>
        <style type='text/css'>
            body {font-family: verdana}
            li {border: solid 1px gray; padding: 5px; width: 250px;}
			li a {color: red; font-weight: bold;}
			p {width: 400px;}
        </style>
	</head>
	<body>
<div id="demo-instructions">
		<h1>Observe Validations Demo</h1>
		<p>This demo demonstrates using validations to prevent
		a person's birthday from being in the future.</p>
		<p>Clicking a person's name will show a form to update
		their birthday.  Change the birthday and 'blur' the 
		input to update their listed age.</p>
</div>
<div id="demo-html">
<div id='person'></div>
<input id='updater'/>
</div>
<script type='text/javascript' 
        src='../../../steal/steal.js'>   
</script>
<script type='text/ejs' id='personEJS'>
<h3>Person <%= person.attr('name') %> is <%= person.ageThisYear() %> years old.</h3>
</script>
<script type='text/javascript'  id="demo-source">   
steal('can/observe/validations',
	 'can/observe/attributes',
	 'can/control',
	 'can/view/ejs',function(){
	
Person = can.Observe({
	convert : {
		date : function(raw){
			if(typeof raw == 'string'){
				var matches = raw.match(/(\d+)-(\d+)-(\d+)/)
				
				return matches ? new Date( +matches[1], 
				                 (+matches[2])-1, 
				                 +matches[3] )
							   : null;
			}else if(raw instanceof Date){
				return raw;
			}
		}
	},
	attributes : { 
		birthday : 'date'
	},
	init : function(){
		this.validate("birthday",function(bithday){
			if(bithday == null){
				return "your birthday needs to be formatted YYYY-MM-DD"
			}
			if(bithday > new Date){
				return "your birthday needs to be in the past"
			}
		})
	}
},{
	ageThisYear : function(){
		// use attr to get the birthday so this is bindable
		var birthday = this.attr('birthday');
		if(birthday){
			// return a value if we have one
			return new Date().getFullYear() - 
		      birthday.getFullYear()
		}
		
	},
	getBirthday : function(){
		return ""+this.birthday.getFullYear()+
			"-"+(this.birthday.getMonth()+1)+
			"-"+this.birthday.getDate();
	}
});

var justin = new Person({'name' : 'Justin Meyer','birthday': '1982-10-20'})

var Updater = can.Control({
	init : function(){
		this.element.val(this.options.person.getBirthday())
	},
	"{person} error" : function(person, ev, prop, errors){
		console.log("error", prop, errors)
	},
	"change" : function(){
		// test if it's valid
		var person = this.options.person,
			newVal = this.element.val(),
			errors = person.errors("birthday", newVal)
		if(errors){
			// give a warning
			console.log("errors")
		} else {
			person.attr("birthday", newVal );
		}
	}
})

new Updater("#updater",{person: justin})

$("#person").html(can.view("personEJS", {person: justin}))

})
</script>
	</body>
</html>