<body>
<div id='out'></div>
<script src="../../lib/steal/steal.js"></script>


<form>
	<content>Editing</content>
	<input can-value='first' placeholder='{{firstPlaceholder}}'/>
	<input can-value='last' placeholder='{{lastPlaceholder}}'/>
</form>

<script type='text/mustache' id='app-template'>
<h1>{{#me}}{{first}} {{last}}{{/me}}</h1>
<name-editor first="me.first" last="me.last">
	Editing {{honorific}}
</name-editor>
</script>
<script type='text/javascript'> 
steal("can/component", function() {

	can.Component.extend({
		tag: "name-editor",
		/*scope: {
			firstPH: "first",
			lastPH: "last",
			honorific: function(){
				if( this.attr('first') == "Justin" ) {
					return "Mr."
				} else {
					return "Mrs."
				}
			}
		},*/
		template: 
			"<form>"+
				"<input value='{{first}}'/>"+
				"<input value='{{last}}'/>"+
			"</form>"	
	});

	var me = new can.Map({
		first: "Justin",
		last: "Meyer"
	})

    $("#out").html(can.view("app-template",{
    	me: new can.Map({
			first: "Justin",
			last: "Meyer"
		})
    }))
})
</script>
</body>