<body>
<div id='out'></div>

<script type='text/stache' id='app-template'>
<foo-bar {foo}="foo" {bar}="bar"></foo-bar>
</script>

<script src="../../node_modules/steal/steal.js" main="@empty">
var can = require('can');
require('can/view/stache/stache');
require('can/map/define/define');

can.Component.extend({
	tag : 'foo-bar',
	leakScope : false,
	viewModel : {
		define : {
			foo : {
				set : function(newVal) {
					console.log('foo set to ' + newVal);
				}
			},
			bar : {
				set : function(newVal) {
					console.log('bar set to ' + newVal);
				}
			}
		}
	}
});

var vm = new can.Map({
	bar : 'test'
});

$('#out').html(can.view('app-template')(vm));
</script>
</body>
