
<button id='toggle'>toggle</button>
<div id='out'></div>
<script src="../../node_modules/steal/steal.js"></script>
<script>
steal('can', 'can/view/stache', function(){

	var items = [];

	for (var i = 0; i < 100; i++) {
		items.push({
			// Random 5 character String
			name: Math.random().toString(36)
				.replace(/[^a-z]+/g, '').substr(0, 5)
		});
	}

	var viewModel = window.viewModel = new can.Map({
		show: false
	});

	can.Component.extend({
		tag: 'grandparent-component',
		template: can.stache('{{#if show}}<parent-component></parent-component>{{/if}}'),
		scope: viewModel
	});

	can.Component.extend({
		tag: 'parent-component',
		template: can.stache('{{#items}}<child-component>\n:)\n</child-component>{{/items}}'),
		scope: {
			items: items
		}
	});

	can.Component.extend({
		tag: 'child-component',
		// template: can.stache('<div>\n<content/>\n</div>\n<div></div>')
		template: can.stache('<div>\n<content/>\n</div>')
	});

	$('#out').html(can.stache('<grandparent-component></grandparent-component>'));


	$("#toggle").click(function(){
		viewModel.attr('show', ! viewModel.attr('show'));
		console.log(Object.keys(can.view.nodeLists.nodeMap).length)
	});


});
</script>
