<div id='out'></div>
<script src="../../lib/steal/steal.js"></script>
<script>
steal("can/view/bindings",function(){
		
var template = can.view.mustache(
  "<p>Attending? <select can-value='attending'>"+
     "<option value='yes'>Yes</option>"+
     "<option value='no'>No</option>"+
     "<option value='maybe'>Maybe</option>"+
  "</select></p>"+
  "<p>You {{attendence}}.</p>")
		
var person = new can.Map({
  attending: "no"
})

$("#out").html( template(person, {
  attendence: function(){
    return person.attr("attending") ? 
      "are a " + person.attr("attending") :
      "have not responded"
    
  }
}) )


})
</script>

