<div id='out'></div>
<script src="../../lib/steal/steal.js"></script>
<script>
steal("can/view/bindings",function(){
		
var template = can.view.mustache(
  "<p>Colors: <select can-value='colors' multiple>"+
     "<option value='green'>Green</option>"+
     "<option value='red'>Red</option>"+
     "<option value='blue'>Blue</option>"+
  "</select></p>"+
  "<p>You selected {{selection colors}}.</p>")
		
var data = new can.Map({colors: "green;red"});

var frag = template(data,{
	selection: function(list){
		var value = list();
		return value ? value.split(";").join(",") : "nothing"
	}
})

$("#out").html( frag );

})
</script>

